body{
    background-color: rgb(1, 2, 20)!important;
    box-sizing: border-box;
    
}

.navbar{
    background-color:rgb(18, 52, 80);
}

.item{
   height:100px;
    
}

.primeiraimg{
    width: 100% ;    
}

#infos{
    background-color: rgb(139, 139, 139);
}

#info{
    background-color: rgb(95, 95, 95);
}

.textosecu{
 display: block;
 margin-block-start: 9em;
 margin-block-end: 1em;
 margin-inline-start: 0px;
 margin-inline-end: 0px;
}
